p {
  font-family: Playfair Display;
}

.App {
  text-align: center;
}

.App-body {
  background-color: lightgray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-banner {
  width: 50%;
}
.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
  width: 90vw;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.navs {
  display: flex;
  /* min-width: 40vw; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav {
  font-family: Raleway;
  font-size: 16px;  
  margin-left: 25px;
}

.blue {
  display: flex;
  padding: 10px 15px;
  background: #3a1cff;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: 0.3s;
}

.blue:hover {
  background: #ffffff;
  color: #000000;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  transition: 0.3s;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  height: 30vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5vh;
}

.box-picture {
  width: 15%;
}

.yellow-content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.yellow-buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  text-decoration: overline;
  font-size: larger;
}

.box-title {
  font-size: 24pt;
}

.box-text {
  font-size: 2vh;
  width: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-self: center;
}

.yellow {
  background-color: #ffe01b;
}

.pink {
  background-color: #ffebeb;
}

.white {
  background-color: #ffffff;
}
